body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: black;
}

* {
  list-style-type: none;
  text-decoration: none;
}

.infobox,
main,
.hero,
.container,
.quiz-container,
.exhibit-space,
.button,
.location,
.headline {
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.pooper ul,
.pooper a,
.pooper li {
  padding: 0;
  margin: 0;
}

.pooper {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

#logo {
  width: 70px;
}

.fas {
  align-items: center;
}

.active-page {
  text-decoration: underline;
  font-size: 0.9rem;
}

.exhibit-page a {
  color: #ff8c1a;
}

.explore-page a {
  color: #b0d200;
}

.events-page a {
  color: #47d0f2;
}

.about-page a {
  color: #e75f00;
}

.visit-page a {
  color: #63e7df;
}

.link:hover,
link:active {
  text-decoration: underline;
  color: #ff8c1a;
}

nav ul {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding: 20px 0;
}

nav li {
  line-height: 30px;
}

.menu-text {
  padding: 8px;
  text-align: center;
  color: black;
}

#hamburger-menu,
nav,
.desktop,
.desktop-tablet {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

label[for="hamburger-menu"] {
  font-size: 2.6em;
  position: absolute;
  right: 15px;
  top: 15px;
}

.cta,
.herocta {
  background-color: #b0d200;
  color: white;
  max-width: 30%;
  padding: 3px 5px;
  transform-origin: bottom;
}

.herocta {
  position: relative;
  display: inline-block;
  max-width: 200px;
  top: -100px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 20px;
  transition-duration: 200ms;
}

.eventbox,
.textbox,
.hoverbox {
  background-color: black;
  opacity: 0.8;
  color: white;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid white;
  padding: 3px;
}

.eventbox p,
.textbox p {
  padding: 4px;
  font-size: 0.82rem;
}

.eventbox p:first-of-type {
  font-weight: bolder;
  text-decoration: underline;
}

.hero .textbox,
.hoverbox {
  position: relative;
  top: -39px;
}

.aligned,
h1,
h2,
h3,
p {
  padding: 10px 5px 10px 20px;
  margin: 0;
  color: white;
}

h1,
h2,
h3,
.cta,
a {
  font-family: "Viga", sans-serif;
  font-weight: normal;
}

p,
ol li {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

li {
  font-family: "Julius Sans One", sans-serif;
}

a:active {
  transform: scale(0.95, 0.95);
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 100%;
  background-color: black;
  color: grey;
  font-weight: bolder;
}

footer ul,
li,
.title,
footer img {
  padding-left: 15px;
}

footer img {
  width: 50px;
}

footer li {
  padding: 3px 0;
}

.bulk-text {
  padding: 50px 0 50px 0;
}

/* HOME */

.container {
  align-items: flex-end;
  transition-duration: 200ms;
  padding: 0;
}

.banner div {
  position: relative;
  top: -50px;
  padding: 0;
}

.banner h3 {
  text-align: center;
  font-size: 2rem;
  background-color: black;
  opacity: 0.8;
  position: relative;
  top: -63px;
  width: 100%;
  padding: 10px 0;
}

.container img,
.quiz-container img,
.explore-section img,
.location img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.container > .cta,
.container > div {
  position: relative;
  top: -28px;
}

.hero {
  align-items: center;
  margin: 0 0 -39px 0;
}

.hero img {
  margin-bottom: 4px;
  max-width: 100%;
}

.headline {
  align-items: center;
  padding: 20px;
}

.headline a:last-of-type,
.headline h2:hover {
  color: white;
  text-decoration: underline;
}

.infobox {
  background-color: #ff8c1a;
  padding: 50px 0;
  align-items: center;
}

.infobox p {
  color: black;
  border: 1px solid white;
  width: 70%;
  margin: auto;
  font-size: 1rem;
  padding: 15px;
}

.red {
  background-color: #e75f00;
}

.red-border {
  border-left: 15px solid #e75f00;
}

.darkred-bg {
  background-color: #883901;
  padding: 50px 0 50px 0;
}

.lightblue {
  background-color: #63e7df;
}

.lightblue-bg {
  background-color: #3e908c;
  padding: 50px 0 50px 0;
}

.light-border {
  border-left: 15px solid #63e7df;
}

.darkblue {
  background-color: #47d0f2;
}

.darkblue-bg {
  background-color: #2c7e93;
  padding: 50px 0 50px 0;
}

.darkblue-border {
  border-left: 15px solid #47d0f2;
}

/* EXHIBITION SPACES */

.exhibit-space img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.exhibit-space > h2 {
  padding: 10px 0 10px 15px;
  background-color: black;
  opacity: 0.8;
}

/* GET INVOLVED */

.button {
  padding: 35px;
  text-align: center;
  align-items: center;
}

.button-1 {
  background-color: #63e7df;
}

.button-2 {
  background-color: #47d0f2;
}

.button-3 {
  background-color: #2c7e93;
}

.button p {
  border: 1px solid white;
  width: 45%;
}

.button:active {
  opacity: 0.9;
  border: 1px solid white;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
}

.container:active {
  transform: scale(0.95, 0.95);
}

.special-event {
  background-color: #3e908c;
}

.quiz-cta {
  max-width: 100%;
}

.quiz-textbox {
  height: 100px;
  margin-bottom: 20px;
}

aside i {
  color: #ff8c1a;
}

aside {
  padding: 0 50px;
  border: 10px solid #2c7e93;
  background-color: #63e7df;
}

.advertisement {
  position: relative;
  top: -50px;
}

.advertisement div h3 {
  font-size: 2rem;
}

.advertisement div p:last-of-type {
  color: #e75f00;
  font-weight: bolder;
}

.advertisement * {
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  color: black;
}

@media screen and (min-width: 640px) {
  .mobile,
  label[for="hamburger-menu"] {
    display: none;
  }

  .events,
  .article-section {
    padding-left: 20px;
  }

  .desktop-tablet {
    display: block;
  }

  #title,
  .advertisement div p {
    font-size: 0.8rem;
    display: block;
  }

  header,
  .top-menu {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
  }

  nav {
    display: flex;
    width: 90%;
    justify-content: flex-end;
  }

  .hero {
    align-items: flex-start;
    margin: 0 0 -197px 0;
  }

  .hoverbox {
    position: relative;
    top: -260px;
    left: 50px;
    width: 50%;
    height: 150px;
  }

  .herocta {
    top: -60px;
    left: 50px;
  }

  .container,
  .explore-section {
    display: block;
    padding: 20px 15px 0px 0;
  }

  .container > .cta,
  .container > div {
    position: relative;
    top: -32px;
  }

  .explore-together,
  .explore-section,
  .articles {
    display: grid;
    padding: 50px 20px 0 25px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .special-events-page {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
      "banner banner"
      "headline headline"
      "events events"
      "events events";
  }

  .news-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
      "advert advert advert"
      "newsline newsline newsline"
      "article article article"
      "article article article"
      "article article article";
  }

  .special-event {
    display: grid;
    padding: 50px 15px;
    background-color: #3e908c;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;
    grid-template-areas:
      "events quiz"
      "events . "
      "additional additional";
    gap: 10px;
  }

  .quiz-container img {
    max-height: 150px;
  }

  .quiz-side {
    grid-area: quiz;
    background-color: #63e7df;
    padding: 20px;
  }

  .additional {
    grid-area: additional;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: events;
  }

  .article-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-area: article;
  }

  .banner {
    max-width: 100%;
    grid-area: banner;
  }

  .banner h3 {
    top: -67px;
  }

  #headline {
    font-size: 2.5rem;
    grid-area: headline;
    padding: 20px;
  }

  .advertisement {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-area: advert;
  }

  .advertisement div h3 {
    font-size: 1.3rem;
  }

  ol,
  ol li {
    padding: 0 0 0 20px;
    margin-bottom: 5px;
    list-style-type: decimal;
  }

  .bulk-text p {
    width: 70%;
    padding-left: 15px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
  }

  .exhibit-space > h2 {
    color: white;
    font-size: 6rem;
    opacity: 0.9;
  }

  .buttons {
    padding: 0 126.7px 0 126.7px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 50px;
    background-color: #ff8c1a;
  }

  #visit {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas:
      "info info"
      ". hours"
      ". hours"
      "location location";
  }

  .infobox {
    grid-area: info;
  }

  .location {
    grid-area: location;
  }

  .hours {
    grid-area: hours;
    padding: 0 20px 0 70px;
  }

  .textbox,
  .eventbox {
    height: 155px;
  }
}

@media screen and (min-width: 1007px) {
  .exhibit-space img {
    max-height: 800px;
    width: 100%;
    object-fit: cover;
  }

  .desktop {
    display: block;
  }

  .clubs-desktop .textbox > p,
  .container .cta,
  .headline a:last-of-type {
    display: none;
  }

  .container div {
    top: -5px;
  }

  .container {
    transition-delay: 200ms;
  }

  .clubs-desktop {
    font-size: 2rem;
  }

  .explore-together {
    gap: 5px;
    padding: 20px;
  }

  .articles,
  .news-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .explore-section,
  .articles,
  .news-section,
  .events {
    gap: 10px;
  }

  .special-event {
    padding: 30px 30px;
    background-color: #3e908c;
    grid-template-columns: auto auto 5% 30%;
    grid-template-rows: 350px 450px 400px 400px;
    grid-template-areas:
      "events events . quiz"
      "events events . quiz"
      " additional additional additinal quiz"
      "ad ad ad ad";
  }

  .article-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .additionalsss {
    grid-area: ad;
  }

  .events {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hoverbox {
    position: relative;
    top: -390px;
    left: 100px;
    font-size: 1.2rem;
    padding: 20px;
  }

  .hoverbox h3 {
    font-size: 1.8rem;
  }

  .herocta {
    top: -130px;
    left: 100px;
    font-size: 2rem;
  }

  .hero {
    margin: 0 0 -253px 0;
  }

  /*
  .articles,
  .explore-section,
  .darkblue-bg,
  .lightblue-bg {
    padding: 50px 100px;
  }
  */

  .headline,
  .infobox {
    align-items: flex-start;
    flex-direction: row;
  }

  .headline h2 {
    font-size: 2rem;
  }

  .infobox p {
    max-width: 40%;
    font-size: 1rem;
    padding: 40px;
  }

  h1,
  .get-involved-title {
    font-size: 3rem;
    max-width: 30%;
  }

  .menu-text {
    font-size: 1rem;
    padding: 10px 20px;
  }

  .container:hover,
  .button:hover {
    transform: scale(1.01, 1.01);
  }

  .articles .container:hover,
  .herocta:hover,
  .headline h2:hover {
    transform: scale(1.05, 1.05);
  }

  .active-page a {
    font-size: 1.1rem;
  }

  .buttons {
    padding: 0 15px 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
    padding-bottom: 100px;
  }

  .button p {
    width: 80%;
  }

  .button {
    transition-duration: 500ms;
  }

  .button:hover,
  .quiz-cta:hover {
    background-image: linear-gradient(145deg, #2c7e93, #47d0f2);
  }

  .container .red-border {
    top: -11px;
  }

  .advertisement div h3 {
    font-size: 3rem;
  }

  .advertisement div p {
    font-size: 1.2rem;
  }

  .advertisement div p:last-of-type {
    margin-top: 20px;
  }
}
