body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: black;
}

* {
  list-style-type: none;
  text-decoration: none;
}

.infobox,
main,
.hero,
.container,
.exhibit-space,
.button,
.location,
.headline {
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.pooper ul,
.pooper a,
.pooper li {
  padding: 0;
  margin: 0;
}

.pooper {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

#logo {
  width: 70px;
}

.fas {
  align-items: center;
}

nav,
.desktop {
  display: none;
}

nav ul {
  display: grid;
  justify-content: center;
  padding: 0;
  margin: 0;
  padding: 20px 0;
}

nav li {
  line-height: 30px;
}

.menu-text {
  padding: 10px;
  text-align: center;
  color: black;
}

#hamburger-menu {
  display: none;
}

#hamburger-menu:checked ~ nav {
  display: block;
}

label[for="hamburger-menu"] {
  font-size: 2.6em;
  position: absolute;
  right: 15px;
  top: 15px;
}

.cta,
.herocta {
  background-color: #b0d200;
  color: white;
  max-width: 30%;
  padding: 3px 5px;
  transform-origin: bottom;
}

.herocta {
  position: relative;
  display: inline-block;
  max-width: 200px;
  top: -100px;
  text-align: center;
  text-transform: uppercase;
  padding: 7px 20px;
}

.textbox,
.hoverbox {
  background-color: black;
  opacity: 0.8;
  color: white;
  max-width: 100%;
  overflow: hidden;
}

.aligned,
h1,
h2,
h3,
p {
  padding: 10px 5px;
  margin: 0;
  color: white;
}

h1,
h2,
h3,
.cta,
a {
  font-family: "Viga", sans-serif;
  font-weight: normal;
}

p {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

li {
  font-family: "Julius Sans One", sans-serif;
}

footer {
  display: grid;
  grid-template-columns: auto;
  max-width: 100%;
  background-color: black;
  color: grey;
  font-weight: bolder;
}

footer ul,
li {
  padding-left: 15px;
}

/* HOME */

.container {
  align-items: flex-end;
  transition-duration: 200ms;
  transition-delay: 00ms;
}

.container img,
.explore-section img,
.location img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.container > .cta,
.container > div {
  position: relative;
  top: -28px;
}

.hero {
  align-items: center;
  margin: 0 0 -39px 0;
}

.hero img {
  margin-bottom: 4px;
  max-width: 100%;
}

.hero .textbox,
.hoverbox {
  position: relative;
  top: -39px;
}

.headline {
  align-items: center;
  padding: 20px 0;
}

.headline a:last-of-type {
  color: white;
  text-decoration: underline;
}

.infobox {
  background-color: #ff8c1a;
  padding: 50px 0;
  align-items: center;
}

.infobox p {
  color: black;
  border: 1px solid white;
  width: 70%;
  margin: auto;
  font-size: 1rem;
  padding: 15px;
}

.red {
  background-color: #e75f00;
}

.red-border {
  border-left: 15px solid #e75f00;
}

.darkred-bg {
  background-color: #883901;
}

.lightblue {
  background-color: #63e7df;
}

.lightblue-bg {
  background-color: #3e908c;
}

.light-border {
  border-left: 15px solid #63e7df;
}

.darkblue {
  background-color: #47d0f2;
}

.darkblue-bg {
  background-color: #2c7e93;
}

.darkblue-border {
  border-left: 15px solid #47d0f2;
}

/* EXHIBITION SPACES */

.exhibit-space img {
  max-height: 500px;
  width: 100%;
  object-fit: cover;
}

.exhibit-space > h2 {
  padding: 10px 0 10px 15px;
  background-color: black;
  opacity: 0.8;
}

/* GET INVOLVED */

.button {
  padding: 35px;
  text-align: center;
  align-items: center;
}

.button-1 {
  background-color: #63e7df;
}

.button-2 {
  background-color: #47d0f2;
}

.button-3 {
  background-color: #2c7e93;
}

.button p {
  border: 1px solid white;
  width: 45%;
}

.button:active {
  opacity: 0.9;
  border: 1px solid white;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr;
}

.bulk-text {
  padding: 15px;
}

.container:active {
  transform: scale(0.95, 0.95);
}

@media screen and (min-width: 640px) {
  label[for="hamburger-menu"] {
    display: none;
  }

  #title {
    font-size: 0.8rem;
    display: block;
  }

  header,
  .top-menu {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
  }

  nav {
    display: flex;
    width: 90%;
    justify-content: flex-end;
  }

  .hero {
    align-items: flex-start;
    margin: 0 0 -189px 0;
  }

  .hoverbox {
    position: relative;
    top: -250px;
    left: 50px;
    width: 50%;
    height: 150px;
  }

  .herocta {
    top: -60px;
    left: 50px;
  }

  .container,
  .explore-section {
    display: block;
    padding: 20px 15px 0px 15px;
  }

  .container > .cta,
  .container > div {
    position: relative;
    top: -32px;
  }

  .explore-together,
  .special-event,
  .explore-section,
  .articles,
  .news-section,
  .special-events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    background-color: #505050;
  }

  .exhibit-space > h2 {
    color: white;
    font-size: 6rem;
    opacity: 0.9;
  }

  .buttons {
    padding: 0 126.7px 0 126.7px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding-bottom: 50px;
    background-color: #ff8c1a;
  }

  #visit {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    grid-template-areas: "info info" ". hours" ". hours" "location location";
  }

  .infobox {
    grid-area: info;
  }

  .location {
    grid-area: location;
  }

  .hours {
    grid-area: hours;
    padding: 0 20px 0 70px;
  }

  .textbox {
    height: 150px;
  }
}

@media screen and (min-width: 1007px) {
  .exhibit-space img {
    max-height: 800px;
    width: 100%;
    object-fit: cover;
  }

  .buttons {
    padding: 0 15px 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
    padding-bottom: 100px;
  }

  .button p {
    width: 80%;
  }

  .button {
    transition-duration: 500ms;
  }

  .button:hover {
    transform: scale(1.05, 1.05);
  }

  .button-1:hover {
    background-image: linear-gradient(145deg, #63e7df, #47d0f2, #2c7e93);
  }

  .button-2:hover {
    background-image: linear-gradient(145deg, #47d0f2, #63e7df, #2c7e93);
  }

  .button-3:hover {
    background-image: linear-gradient(145deg, #2c7e93, #47d0f2);
  }

  .desktop {
    display: block;
  }

  .container .cta {
    display: none;
  }

  .container div {
    top: -5px;
  }

  .container {
    padding: 0;
  }

  .clubs-desktop {
    font-size: 2rem;
    padding: 10px;
  }

  .clubs-desktop .textbox > p {
    display: none;
  }

  .explore-together {
    gap: 5px;
    padding: 20px;
  }

  .articles,
  .news-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .explore-section,
  .articles,
  .news-section,
  .special-events {
    gap: 30px;
  }

  .special-event {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "event-info . "
      "event-info . ";
    gap: 50px;
  }

  .event-info {
    grid-area: event-info;
    border: solid 1px white;
    padding: 10px;
  }

  .event-info p {
  }

  .hoverbox {
    position: relative;
    top: -390px;
    left: 100px;
    font-size: 1.2rem;
    padding: 20px;
  }

  .hoverbox h3 {
    font-size: 1.8rem;
  }

  .herocta {
    top: -130px;
    left: 100px;
    font-size: 2rem;
  }

  .hero {
    margin: 0 0 -251px 0;
  }

  .special-event,
  .articles,
  .explore-section,
  .darkblue-bg,
  .lightblue-bg {
    padding: 50px 100px;
  }

  .headline,
  .infobox {
    align-items: flex-start;
    padding-left: 100px;
    flex-direction: row;
  }

  .headline h2 {
    font-size: 2rem;
  }

  .headline a:last-of-type {
    display: none;
  }

  .infobox p {
    max-width: 40%;
    font-size: 1rem;
    padding: 40px;
  }

  h1,
  .get-involved-title {
    font-size: 3rem;
    padding: 0;
    max-width: 30%;
  }

  .bulk-text p {
    width: 50%;
  }

  .menu-text {
    font-size: 1.1rem;
    padding: 10px 30px;
  }

  .container:hover {
    transform: scale(1.05, 1.05);
  }
}
